
<div class='row' style=" text-align: 'center'; padding-top: '30px'; height: '20%' ">
  <h2 style=" font-family: 'Open Sans sans-serif'; color: 'black'; font-weight: 'bold'; font-size: '40px' " >REVIEW </h2>
</div>
 
  <div class="card" >
  
    <div class="card_part card_part-one">
      <div style="color:rgb(247, 74, 74) ;">
        <h4><b>John Doe</b></h4> 
        <p style="text-align: center;font-size: small;">Apply Section (Commencement of on-line Registration & Submission of Application : 30-08-2022 10:00AM, 
          Last Date for on-line Registration & Submission of Application 28-09-2022 05:00PM)The world of technology can be fast-paced and scary. That's why our goal is to provide an experience that is tailored to your company's needs. No matter the budget; we pride ourselves on providing professional customer service. We guarantee you will be satisfied with our work.</p> 
      </div>
    </div>
    
     <!-- Photo 2 -->
    <div class="card_part card_part-two">
      <div  style="color:rgb(247, 74, 74) ;">
        <h4><b>John Doe</b></h4> 
        <p style="text-align: center;font-size: small;">Apply Section (Commencement of on-line Registration & Submission of Application : 30-08-2022 10:00AM, 
          Last Date for on-line Registration & Submission of Application 28-09-2022 05:00PM)The world of technology can be fast-paced and scary. That's why our goal is to provide an experience that is tailored to your company's needs. No matter the budget; we pride ourselves on providing professional customer service. We guarantee you will be satisfied with our work.</p> 
      </div>
  
    </div>
  
    <!-- Photo 3 -->
    <div class="card_part card_part-three">
      <div  style="color:rgb(247, 74, 74) ;">
        <h4><b>John Doe</b></h4> 
        <p style="text-align: center;font-size: small;">Apply Section (Commencement of on-line Registration & Submission of Application : 30-08-2022 10:00AM, 
          Last Date for on-line Registration & Submission of Application 28-09-2022 05:00PM)The world of technology can be fast-paced and scary. That's why our goal is to provide an experience that is tailored to your company's needs. No matter the budget; we pride ourselves on providing professional customer service. We guarantee you will be satisfied with our work.</p> 
      </div>
    </div>
  
    <!-- Photo 4 -->
    <div class="card_part card_part-four">
      <div  style="color:rgb(247, 74, 74) ;">
        <h4><b>John Doe</b></h4> 
        <p style="text-align: center;font-size: small;">Apply Section (Commencement of on-line Registration & Submission of Application : 30-08-2022 10:00AM, 
          Last Date for on-line Registration & Submission of Application 28-09-2022 05:00PM)The world of technology can be fast-paced and scary. That's why our goal is to provide an experience that is tailored to your company's needs. No matter the budget; we pride ourselves on providing professional customer service. We guarantee you will be satisfied with our work.</p> 
      </div>
    </div>
  
  </div>