
<div class='container' id="homeSect" style=" margin: '0'; overflow: 'hidden'">
  <div class='row'>
    <div style=" height: '100vh' "> 

      <div style=" height: '100%'; width: '100%'; background-image: url('./assets/homeImage1.jpg'); background-repeat: 'no-repeat'; background-size: '100% 100%' ">
        <div style=" height: '12%' ">
          <div class='row' style=" height: '100%' ">
            <div class='col-md-4' style=" padding-top: '25px'; padding-left: '35px' ">
              <h2 style=" font-family: 'Open Sans sans-serif'; color: 'white' "> FORUM IT Solutions</h2>
            </div>
            <div class='col-md-2'>

            </div>
            <div class='col-md-6' style=" padding-top: '30px'; text-align: 'right'; padding-right: '30px' ">
              <nav class="navbar">
             
              
              
                <a class="navbar-brand" style=" color: 'white'; text-decoration: 'none' " href="#homeSect">Home</a>
            
                <a class="nav-link active" aria-current="page" style=" color: 'white'; text-decoration: 'none' " href="#whoWeAre">About Us</a>
              
                <a class="nav-link active" aria-current="page" style=" color: 'white'; text-decoration: 'none' " href="#products">Products</a>
            
              
                <a class="nav-link " aria-current="page" style=" color: 'white'; text-decoration: 'none' " href="#">Pricing</a>
           
                <a class="nav-link active" aria-current="page" style=" color: 'white'; text-decoration: 'none' " href="#reView">Review</a>
          
                <a class="nav-link active" aria-current="page" style=" color: 'white'; text-decoration: 'none' " href="#ContactUs">Contact Us</a>
             
           
             </nav>

            </div>
          </div>
        </div>
      </div>
   
        <div style=" height: '88%' ">
          <div class='row'>
            <div class='col-md-4'>

            </div>
            <div class='col-md-4'>
              <div class='centerDiv' style=" text-align: 'center' ">
                <h1 style=" font-family: 'Open Sans sans-serif'; color: 'white'; font-weight: 'bold'; font-size: '60px' "> FORUM IT Solutions</h1>
                <h1 style=" font-family: 'Open Sans sans-serif'; color: 'white'; font-size: '20px' ">Professional Technology Assistance</h1>
                <button   class='explorenowButton'>Explore Now </button>
              </div>
            </div>
            <div class='col-md-4'>

            </div>

          </div>

        </div>
</div>
      </div>
    </div>

<!-- WHO WE ARE? -->
    <div id="whoWeAre"  style=" height: '100vh'; background-color: 'white'; margin-bottom: '100px' ">

      <div class='row' style=" text-align: 'center'; padding-top: '30px'; height: '20%' ">
        <h2 style=" font-family: 'Open Sans sans-serif'; color: 'black'; font-weight: 'bold'; font-size: '40px' " > WHO WE ARE? </h2>
      </div>

      <div class='row' style=" text-align: 'center'; padding-top: '10px'; height: '80%'; padding-left: '30px'; padding-right: '30px' ">
        <div class='col-md-4'>
          <div style=" height: '100%'; width: '100%'; background-color: '#F8F7F5' ">
            <div style=" height: '40%'; width: '100%' " >
              <img style=" height: '100%'; width: '100%' " src='/assets/aboutusimg.jpg' />
            </div>
            <div style=" height: '60%'; text-align: 'center'; padding: '20px' ">
              <h4 style=" font-family: 'Open Sans sans-serif'; color: 'black'; font-weight: 'bold'; font-size: '30px' ">Technical Experience</h4>
              <p style=" font-family: 'Open Sans sans-serif'; color: 'black'; font-size: '18px'; text-align: 'justify'; margin-top: '25px' ">We are well-versed in a variety of operating systems; networks; and databases. We work with just about any technology that a small business would encounter. We use this expertise to help customers with small to mid-sized projects. </p>
            </div>
          </div>
        </div>
        <div class='col-md-4'>
          <div style=" height: '100%'; width: '100%'; background-color: '#F8F7F5' ">
            <div style=" height: '40%'; width: '100%' " >
              <img style=" height: '100%'; width: '100%' " src='/assets/aboutusimg1.jpg' />
            </div>
            <div style=" height: '60%'; text-align: 'center'; padding: '20px' ">
              <h4 style=" font-family: 'Open Sans sans-serif'; color: 'black'; font-weight: 'bold'; font-size: '30px' ">High ROI</h4>
              <p style=" font-family: 'Open Sans sans-serif'; color: 'black'; font-size: '18px'; text-align: 'justify'; margin-top: '25px' ">Do you spend most of your IT budget on maintaining your current system? Many companies find that constant maintenance eats into their budget for new technology. By outsourcing your IT management to us; you can focus on what you do best--running your business. </p>
            </div>
          </div>
        </div>
        <div class='col-md-4'>
          <div style=" height: '100%'; width: '100%'; background-color: '#F8F7F5' ">
            <div style=" height: '40%'; width: '100%' " >
              <img style=" height: '100%'; width: '100%' " src='/assets/aboutusimg2.jpg' />
            </div>
            <div style=" height: '60%'; text-align: 'center'; padding: '20px' ">
              <h4 style=" font-family: 'Open Sans sans-serif'; color: 'black'; font-weight: 'bold'; font-size: '30px' ">Satisfaction Guaranteed</h4>
              <p style=" font-family: 'Open Sans sans-serif'; color: 'black'; font-size: '18px'; text-align: 'justify'; margin-top: '25px' ">The world of technology can be fast-paced and scary. That's why our goal is to provide an experience that is tailored to your company's needs. No matter the budget; we pride ourselves on providing professional customer service. We guarantee you will be satisfied with our work.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
<!-- Products -->
<div id="products">
   <app-products></app-products>
  </div>


<div  id="reView">
 <app-slider></app-slider>
</div>

     

<!-- Contact Us -->
<div style="width: 100%;">
    <div id="ContactUs" style=" height: '100vh' ; ">
      <div class='row' style=" height: '100%'; width: 100%; ">
        <div class='col-md-6' style=" background-color: 'black'; text-align: 'center' " >
          <div style=" margin-top: '50px'; padding-left: '50px'; padding-right: '50px' ">
            <h3 style=" font-family: 'Open Sans sans-serif'; color: 'white' " >Get in touch with us!</h3>
            <p style=" font-family: 'Open Sans sans-serif'; color: 'white'; font-size: '18px'; text-align: 'justify'; margin-top: '25px' ">Do you spend most of your IT budget on maintaining your current system? Many companies find that constant maintenance eats into their budget for new technology. By outsourcing your IT management to us; you can focus on what you do best--running your business. </p>
          </div>
          <div style=" margin-top: '40px'; text-align: 'left'; padding-left: '50px'; padding-right: '50px' ">
            <h4 style=" font-family: 'Open Sans sans-serif'; color: 'white' "> Send Message</h4>

            <div style=" margin-top: '5px' ">
              <form onSubmit={sendEmail}>
                <div class='row' style=" padding: '30px'; padding-bottom: '20px' ">
                  <div class='col-md-6'>
                    <input class='input' placeholder='Name' name = "name" type='text' style=" width: '100%'; height: '50px' ">
                  </div>
                  <div class='col-md-6'>
                    <input class='input' placeholder='Email ID' name = "user_email" type='email' style=" width: '100%'; height: '50px' "> 
                  </div>
                </div>
                <div class='row' style=" padding-left: '30px'; padding-bottom: '20px'; padding-right: '30px' ">
                  <div class='col-md-12'>
                    <textarea placeholder='Message'  name = "message" class='input' style=" width: '100%'; height: '120px' "></textarea>
                  </div>
                </div>
                <div class='row' style=" padding-left: '30px'; padding-bottom : '30px'; padding-right: '30px' ">
                  <div class='col-md-12' style=" text-align: 'center'; margin : 0px'; padding-top: '0px' ">
                    <button value="Send" class='sendButton'>Send</button>
                  </div>
                </div>
              </form>

            </div>

          </div>


        </div>
        <div class="col-md-6"   >
        <div class="col-md-12 " >
          <iframe
            class='map'
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7777.2412481073725!2d77.56218997216402!3d12.932087520267515!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae15889d8aa355%3A0x9471bdc07edf8484!2sThyagaraja%20Nagar%2C%20Basavanagudi%2C%20Bengaluru%2C%20Karnataka!5e0!3m2!1sen!2sin!4v1657392593131!5m2!1sen!2sin"
            width="100%"
            height="100%"
            frameBorder="0"
            style = " border: 0 "
            allowFullScreen=""
            aria-hidden="false"
            tabIndex="0" >
          </iframe>
        </div>
      </div>
      </div>
    </div>
    </div>


  






