

<div class='row' style=" text-align: 'center'; padding-top: '30px'; height: '20%' ">
      <h2 style=" font-family: 'Open Sans sans-serif'; color: 'black'; font-weight: 'bold'; font-size: '40px' " >OUR PRODUCTS </h2>
    </div>
    <h6 style=" font-family: 'Open Sans sans-serif';font-weight: bold;text-align: center;color: darkred;">100% Genuine Desktop Spares Sales & Service</h6>
   
 
  <div id="slideshow" style=" height: '100%'; width: '100%';  background-repeat: 'no-repeat'; background-size: '100% 100%' ">
    <div class="slide-wrapper" >
     <div class="column">
     
        <div class="flip-box">
   
            <div class="flip-box-inner">
              <div class="flip-box-front">
                
                <img src="/assets/images (4).jpg" alt="Paris" style="width:400px;height:300px">
              </div>
              <div class="flip-box-back">
                <h2></h2>
                
                    <ul style="font-weight: 'bold'; font-family: 'Open Sans sans-serif'; color: 'black'; font-size: '18px'; text-align: 'justify'; margin-top: '25px' ">
        <li>
            Laptops & Desktops
        </li>
        <li>
            Workstations
        </li>
        <li>
            Mobile & Tabelts
        </li>
        
                    </ul>
               
              </div>
            </div>
            
          
      </div>
    </div>
    <div>
        <div class="slide">
            <div class="column">

                <div class="flip-box">
           
                    <div class="flip-box-inner">
                      <div class="flip-box-front">
                        
                        <img src="/assets/images (6).jpg" alt="Paris" style="width:400px;height:300px">
                      </div>
                      <div class="flip-box-back">
                        
                      
                        
                            <ul style=" font-family: 'Open Sans sans-serif'; color: 'black'; font-size: '18px'; text-align: 'justify'; margin-top: '25px'; font-weight: 'bold';">
                <li>
                    Monitor
                </li>
                <li>
                   DDR3,DDR4 Desktop RAM
                </li>
                <li>
                   Wired Keybord & Mouse
                </li>
                <li>
                    Wireless Keybord & Mouse
                 </li>
                 <li>
                   Graphic Card
                 </li>
                 <li>
                    Mousepad
                 </li>
                
                            </ul>
                       
                      </div>
                    </div>
                    
                 
              </div>
            </div>
        </div>
    </div>
    <div>
        <div class="slide">
            
    <div class="column">
      
        <div class="flip-box">
   
            <div class="flip-box-inner">
              <div class="flip-box-front">
                
                <img src="/assets/image7.jpg" alt="Paris" style="width:400px;height:300px">
              </div>
              <div class="flip-box-back">
                <h2></h2>
                
                    <ul style=" font-family: 'Open Sans sans-serif'; color: 'black'; font-size: '18px'; text-align: 'justify'; margin-top: '25px';font-weight: 'bold'; ">
        <li>
            Original & Comp Power Adapter
        </li>
        <li>
            Original & Comp Battery
        </li>
        <li>
            DDR3,DDR4 Laptop RAM
        </li>
        <li>
            SATA,2.5" SSD, M.2 NVMe HDD
        </li>
        <li>
            Screen, Keyboard,Top Case
        </li>
        <li>
           Hinges, Touchpad,Bottom Case
        </li>
    
        
                    </ul>
               
              </div>
            </div>
            
        
      </div>
    </div>
    
        </div>
    </div>
  <div>
        <div class="slide">
            <div class="column">
     
                <div class="flip-box">
           
                    <div class="flip-box-inner">
                      <div class="flip-box-front">
                        
                        <img src="/assets/images (8).jpg" alt="Paris" style="width:400px;height:300px">
                      </div>
                      <div class="flip-box-back">
                        <h2></h2>
                        
                            <ul style=" font-family: 'Open Sans sans-serif'; color: 'black'; font-size: '18px'; text-align: 'justify'; margin-top: '25px';font-weight: 'bold'; ">
                <li>
                   IP & Analog Cameras
                </li>
                <li>
                   Surveillance HDD
                </li>
                <li>
                PoE Switches
                </li>
                <li>
                   3+1 & Cat6 Cable
                    </li>
                    <li>
                  BNC & DC Connectors
                        </li>
                        <li>
                           SMPS
                            </li>
                
                            </ul>
                       
                      </div>
                    </div>
                    
                 
              </div>
            </div>
          
               
        </div> 
        
      <!-- <div class="slide">
        <div class="column">


            <div class="flip-box">
       
                <div class="flip-box-inner">
                  <div class="flip-box-front">
                    
                    <img src="/assets/images (9).jpg" alt="Paris" style="width:400px;height:300px">
                  </div>
                  <div class="flip-box-back">
                    <h2></h2>
                    
                        <ul style=" font-family: 'Open Sans sans-serif'; color: 'black'; font-size: '18px'; text-align: 'justify'; margin-top: '25px';font-weight: 'bold'; ">
            <li>
               Laser & Inkjet Printer 
            </li>
            <li>
                Scanner
            </li>
            <li>
              Toner & Ink Cartridges
            </li>
            <li>
           PenDrive,HDD Casing
            </li>
            <li>
              Docking Station
                </li>
                <li>
              Webcam
                    </li>
                    
                        </ul>
                   
                  </div>
                </div>
            </div>
             
          </div>
        </div> -->
    </div>   
    </div>
</div>